@media(max-width:768px) {
    body{
        background-color: blue;
    }

    
}
@media (min-width:900px) {
    body{
        background-color: aqua;
    }
    
}
@media(min-width:760px)and (max-width:900px){
    body{
        background-color: blueviolet;
    }
    @media(max-width:480px){
        body{
            font-size:14px;
        }
    }
    @media (min-width:481px)and (max-width:768px) {
        body{
            font-size:16px;
        }
        
    }
    @media (min-width:769px) {
        body{
            font-size:18px;
        }
    }
}